<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ontime.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:isolatedProcess="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode">

        <activity
            android:name=".customer.doneActivity.RestRattingListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".restaurant.ui.Activity.NewOrderItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".customer.doneActivity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".restaurant.ui.Activity.RiderOrderDetails"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".restaurant.ui.Activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".restaurant.ui.Activity.LoginPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.ForgotpasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.VerificationCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.RegistetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.UserDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.RestCartPenddingItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.RestaurantlistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.RestaurantProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.RestaurantDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.RestCartItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.OrderSummaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.Dialog_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.Activity.SentRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.RequestPendingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.MyOrdersListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="none" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.doneActivity.PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.ContactusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.AboutusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.doneActivity.AddCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".customer.Activity.SentRequestSuper"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".restaurant.ui.Activity.MurchanNotification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".restaurant.ui.Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_2" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" />

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>